.ng-valid[required]   {
    border-left: 5px solid hsl(105, 90%, 31%); /* verde */
  }
  
  .ng-invalid:not(form)  { /* la forma tambien tiene este estilo, pero no queremos que se le aplique estilo */
    border-left: 5px solid hsl(1, 44%, 46%); /* rojo */
  }

  .ng-pending:not(form) { /* la forma tambien tiene este estilo, pero no queremos que se le aplique estilo */
    border-left: 5px solid hsl(55, 44%, 46%); /* mostaza */
    border-right: 5px solid hsl(55, 44%, 46%); /* mostaza */
  }
  
  .font-smaller{
    font-size: .8rem;
  }