<div class="container">
  <h3 class="text-primary text-center mt-3">Ejemplos de Implementaci&oacute;n de Formularios</h3>
  <div class="row justify-content-start mt-3">
    @for(ejemI of ejemplos;track i;let i=$index){
      <div class="col-12 col-sm-4 col-md border-start border-top border-white rounded p-2 {{ejemI.clasesCss}}"> 
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" id="customSwitchEjm{{i}}" 
                   [checked]="ejemI.mostrar" (input)="activarDesactivarEjemplo(i)">
            <label class="form-check-label" for="customSwitchEjm{{i}}">
              <small>{{ejemI.descripcion}}</small>
            </label>
          </div>
        </div>
      }
  </div>
  <div class="row mt-3">
    <h4 class="text-secondary mt-3"><i>Template Driven Forms</i></h4>
  </div>
  @if(ejemplos[0].mostrar){
    <div>
      <app-form-templ-driven01></app-form-templ-driven01>
    </div>
    <hr class="my-4"> 
  }
  @if(ejemplos[1].mostrar){   
    <div class="mt-4">
      <app-form-templ-driven02></app-form-templ-driven02> 
    </div>
    <hr class="my-4"> 
  }
  @if(ejemplos[2].mostrar){   
    <div class="mt-4">
      <app-form-templ-driven03></app-form-templ-driven03> 
    </div>
    <hr class="my-4"> 
  }
  @if(ejemplos[3].mostrar){   
    <div class="mt-4">
      <app-form-templ-driven04></app-form-templ-driven04> 
    </div>
    <hr class="my-4"> 
  }
  @if(ejemplos[4].mostrar){   
    <div class="mt-4">
      <app-form-templ-driven05></app-form-templ-driven05> 
    </div>
    <hr class="my-4"> 
  }
  @if(ejemplos[5].mostrar){   
    <div class="mt-4">
      <app-reactive-form01></app-reactive-form01>
    </div>
    <hr class="my-4"> 
  }

</div>